body {
    color: white;
    background-color: black;
}

input {
    background-color: #333;
    color: white;
}

#runeInputs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

table td {
    border: 0;
}

table tr.normalCountessRunes, #normalCountessRunes {
    background-color: #001d7c;
}

table tr.nightmareCountessRunes, #nightmareCountessRunes {
    background-color: #330000;
}

table tr.hellCountessRunes, #hellCountessRunes {
    background-color: #005500;
}

table tr.nonCountessRunes, #nonCountessRunes {
    background-color: #555500;
}
