body {
    color: white;
    background-color: black;
}

input {
    background-color: #333;
    color: white;
}

#runeInputs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

#runeInputs div input {
    margin: 12px;
}

#runeInputs {
    margin-bottom: 24px;
}

#runewordsWrapper {
    display: grid;
    justify-content: space-around;
}

table td {
    border: 0;
    padding: 12px;
}

table tr.normalCountessRunes, #normalCountessRunes {
    background-color: #082d08;
}

table tr.nightmareCountessRunes, #nightmareCountessRunes {
    background-color: #08112d;
}

table tr.hellCountessRunes, #hellCountessRunes {
    background-color: #2f0b0b;
}

table tr.nonCountessRunes, #nonCountessRunes {
    background-color: #313107;
}
